:root {
    --color-one: #35F735;
    --color-two: #269E26;
    --color-three: #FFFFFF;
    --color-four: #000000;
    --color-five: #1C1C1C;
    --color-six: #000000;
    --color-seven: #10f7ae; /* Fundo geral claro */
}

